.cover-page-title {
  color: black;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  padding-top: 1.5em;
}
.cover-page-description {
  color: black;
  font-size: 2em;
  font-weight: lighter;
  text-align: center;
  padding-top: 0.5em;
}
.cover-page-image {
  /* border: black solid; */
  border-width: 0.25em;
  margin-top: 2em;
  border-radius: 50%;
}
body {
  background-image: url("./assets/so-white.png");
}
